.result-content{
    position: relative;
    height: 8vh;
    width: 96%;
    background-color: white;
    margin: 2% auto;
    border-radius: 6px;
}
.result-content input{
    height: 4.2vh;
    width: 25vh;
    margin-top: 2vh;
    margin-left: 2%;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
    outline: none;
    padding-left: 1%;
    line-height: 4vh;
}

.result-search-btn{
    height: 4vh;
    width: 7vh;
    line-height: 4vh;
    margin-left: 6px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #a27bd3;
    color: white;
    cursor: pointer;
}
.group,
.type,
.read {
    top: 2vh;
    position: absolute;
    margin: 0 auto;
    margin-left: 2vw;
    border-radius: 4px;
    outline: none;
    width: 25vh;
    height: 4.2vh;
    float: right;
    border-radius: 4px;
    z-index: 10;
}
.group input,
.type input,
.read input {
    position: absolute;
    z-index: 1;
    padding: 0 0 0 5%;
    margin: 0;
    width: 92%;
    height: 94%;
    outline: none;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    background-color: #fff;
    font-size: 0.8rem;
}
.group img,
.type img,
.read img {
    display: block;
    position: absolute;
    z-index: 1;
    top: 35%;
    right: 10%;
    height: 30%;
    cursor: pointer;
}
.group ul,
.type ul,
.read ul {
    position: absolute;
    z-index: 0;
    padding-top: 2vh;
    top: 2vh;
    width: 97%;
    border-radius: 0.3rem;
    background-color: #fff;
    border: 1px solid #c7c7c7;
}
.group ul li,
.type ul li,
.read ul li{
    width: 92%;
    padding: 0.1rem 0.3rem;
    color: #707070;
    font-size: 0.55rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
.group ul li:hover,
.type ul li:hover,
.read ul li:hover{
    color: #a27bd3;
}

.submit-query-result{
    position: absolute;
    top:0;
    margin-top: 2vh;
    right: 35vh;
    height: 4vh;
    width: 7vh;
    line-height: 4vh;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #a27bd3;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 2vh;
}

.registerCon {
    margin: 0 auto;
    padding: 2% 0;
    border-radius: 6px;
    width: 96%;
    background: white;
}
.registerCon .add-button {
    height: 100%;
    width: 8vw;
    background-color: #a27bd3;
    margin: 0 1.7vw;
    margin-bottom: 2vh;
    font-size: 1vw;
    text-align: center;
    line-height: 6vh;
    color:white;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: top;
}
.registerCon ul {
    border-left: 0.5vw solid transparent;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    cursor: default;
}
.registerCon ul li {
    position: relative;
    display: inline-block;
    padding: 4% 0;
    width: 8.1vw;
    height: 3.6vh;
    font-size: 2.3vh;
    overflow: hidden;
}
.registerCon .noticeLi {
    position: relative;
    width: 20vw;
}
.registerCon .noticeLi textarea{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1%;
    border: none;
    outline: none;
    width: 99%;
    height: 99%;
    background: transparent;
    resize: none;
}
.registerCon .th li {
    padding: 2vh 0;
    background-color: #a27bd3;
    font-size: 2.5vh;
    color: white;
    cursor: default;
}
.registerCon .changeColor li {
    background-color: #e7e3eb;
}
.registerCon ul li:first-child {
    cursor: default;
}

.editor-icon,.cancel-icon,.save-icon,.delete-icon {
    display: inline-block;
    cursor: pointer;
    height: 2.5vh;
    width: 2.5vh;
}

/*页码*/
.choosePage {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.page {
    display: inline-block;
    margin-top: 3%;
    padding: 1% 1.5%;
    width: 20px;
    height: 20px;
    background-color: #eee;
    cursor: pointer;
}
.pageNow {
    background-color: #a27bd3;
}
.page:hover {
    background-color: #a27bd3;
}
.noPage:hover {
    cursor: default;
    background-color: #eee;
}